// Specific CSS for your home-page
.home-search-container {
  margin-top: 60px;
}

.home-banner {
  display: flex;
  // align-items: center;
  justify-content: space-around;

}

.home-banner h1 {
  color: white;
  margin-top: 40px;
}
