.profile {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 70px);
  padding: 10px;
}
.profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.profile .cars {
  grid-row: 2 / span 2;
  grid-column: 2 / span 3;
}

.user {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.description {
  grid-row: 1 / span 1;
  grid-colum: 1 / span 3;

}


.user, .cars, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

/* Fonts and colors */
.profile h2 {
  font-size: 22px;
}
.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: rgba(0,0,0,0.6);
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
}
.profile .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.stat h3 {
  color: #37B686;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.cars h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.cars p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}

.cars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre
}

.user {
  display: flex;
  flex: 0 0 450px;
  height: 50vh;
  position: sticky;
  top: 0;
}
