<div class="home-banner">

</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="search-container">
          <div href="#" class="search-btn">
          <%= form_tag(cars_path, :method => "get" do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Makes" %>
              <%= submit_tag "Search", :name => nil %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
